<div class="col s12">
    <select>
		<option value="" disabled selected>{{placeholder}}</option>

		{{#each data.categories as |item|}}
			<option>{{item.title}}</option>
		{{/each}}
	</select>
</div>

{{yield}}
