<div class="row">
    <h4>Responde las preguntas</h4>
	{{#each content as |item|}}
		{{list-data-item content=item}}
	{{else}}
		No se agregaron preguntas
	{{/each}}		

<div class="row">
	<a class="waves-effect waves-light btn" {{action 'check'}}>Revisar</a>
</div>

</div>

{{yield}}
